body {
    font-family: Roboto ,sans-serif;
}
.headers {
    text-align: center;
    font-size: 45px;
    color: #007765;
    padding-right: 55px;
    padding-left: 55px;
}
.hero_is_here {
    background-image: url(images/is_here.png);
    background-size: cover;
    background-position: center center;
    padding-top: 125px;
    padding-bottom: 125px;
}
.container {
    max-width: 1219px;
    padding-right: 55px;
    padding-left: 55px;
    box-sizing: border-box;
    margin: auto;
}
.is_here_message {
    color: white;
    font-size: 65px;
    text-align: center;
}
.problem {
    padding-top: 5px;
    background-color: #EEEEEE;
    padding-bottom: 28px;
}
.problem_text {
    margin-top: 5px;
    font-size: 30px;
    margin: auto;
}
.world_web {
    background-image: url(images/web.png);
    background-size: cover;
    background-position: center center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.web_text {
    font-style: italic;
    font-weight: 500;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}
.coin_text img {
    height: 75px;
    width: 75px;
    float: left;
    margin-right: 20px;
}
.coin_text {
    margin-top: 5px;
    font-size: 28px;
    box-sizing: border-box;
    padding-right: 100px;
    padding-left: 100px;
}
.team {
    padding-top: 5px;
    background-color: #EEEEEE;
    padding-bottom: 30px;
}
.photos {
    height: 150px;
    width: 150px;
    display: block;
}
.names {
    color: #007765;
    font-size: 16px;
}
figcaption {
    text-align: center;
}
table {
    text-align: center;
    margin: auto;
}
.persons {
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
}
.post {
    margin-top: -10px;
    font-size: 14px;
    font-style: italic;
}
.copyright {
    background-color: #333333;
}
.copyright_text {
    color: white;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    font-size: 15px;
}
.hat {
    width: 100%;
    background-color: #007765;
    height: 64px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 21; 
}
.logo img {
    margin-top: 13px;
}
ul {
    margin-top: 24px;
    float: right;
    list-style: none;
}
li {
    font-size: 20px;
    display: inline;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: orange;
}
.container_hat {
    width: 1219px;
    padding-right: 55px;
    padding-left: 55px;
    box-sizing: border-box;
    margin: auto;
}